aiohttp
async-timeout
asyncpg
attrs
cffi
chardet
git+https://github.com/iDevision/enhanced-discord.py
discmusic
idna
jishaku
lavalink
multidict
pycparser
pymunk
PyNaCl
pytiled-parser
PyYAML
Shapely
six
typing-extensions
wavelink
yarl
