aiohttp
async-timeout
asyncpg
attrs
cffi
chardet
dnspython
idna
jishaku
motor
multidict
pycparser
pymongo
pymunk
PyNaCl
pytiled-parser
PyYAML
Shapely
six
typing-extensions
yarl
youtube_dl
git+https://github.com/Pycord-Development/pycord