aiohttp
async-timeout
asyncpg
attrs
cffi
chardet
git+https://github.com/Gnome-py/enhanced-discord.py@2.0
idna
jishaku
multidict
pycparser
pymunk
PyNaCl
pytiled-parser
PyYAML
Shapely
six
typing-extensions
yarl
